<header id="header" class="menu-top-left">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-4">
                <a href="./" id="logo" title="Tenguu" class="logo-image" style="background-image: url('../../../../assets/img/web-logo.png')">Tenguu
                </a>
            </div>
            <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-8 phl0">
                <div class="header_author">
                    <!-- <a href="#">Hello, Amanda green</a> -->
                    <!-- <img src="../../../../assets/img/user.png" class="user" alt="user"> -->
                    <a class="ml-3" [routerLink]="['/dangnhap']">Đăng Nhập</a>
                </div>
                <div class="header_ticket">
                    <a href="#order" class="order_btn">Đăng Ký</a>
                    
                </div>


            </div>
        </div>
    </div>
</header>