<section class="section-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="ticket-carousel pvt85">
            <div class="swiper-container carousel-container movie-images" data-col="5">
              <div class="swiper-wrapper owl-carousel owl-carousel-2 w-100">
                <div class="swiper-slide item" *ngFor="let phim of DanhSachPhimSapChieu" style="width: 326px;height: 420px;">
                  <app-phim-item [itemPhim]="phim"></app-phim-item>
                </div>
             
              </div>
            </div>
           
          </div>
  
        </div>
      </div>
  </section>