<div class="card">
  <div class="card-header">
    Quản Lý Người Dùng
  </div>
  <div class="card-body">
    <button type="button" #btnmodal class="btn btn-secondary mr-3"  (click)="Change()" data-toggle="modal" data-target="#exampleModal">
      Thêm Người Dùng Mới
    </button>
    <button class="btn btn-danger">Xóa Nhiều Người Dùng</button>
    <br>
    <button class="btn btn-primary mt-3">Tìm Kiếm Người Dùng</button>
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="title-modal">Thêm Người Dùng</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #formThemND="ngForm" (ngSubmit)="ThemVaSuaND(formThemND.value)">

              <div class="form-group">
                <label for="">Tài Khoản: </label>
                
                <input type="text" [(ngModel)]="ND_temp.TaiKhoan"class="form-control" ngModel name="TaiKhoan">
              </div>
              <div class="form-group">
                <label for="">Mật Khẩu: </label>
                <input type="text" [(ngModel)]="ND_temp.MatKhau" ng-model="ND_temp.MatKhau"  class="form-control" ngModel name="MatKhau">
              </div>
              <div class="form-group">
                <label for="">Họ Tên: </label>
                <input type="text" [(ngModel)]="ND_temp.HoTen" class="form-control" ngModel name="HoTen">
              </div>
              <div class="form-group">
                <label for="">SĐT: </label>
                <input type="text" [(ngModel)]="ND_temp.SoDT" class="form-control" ngModel name="SoDT">
              </div>
              <div class="form-group">
                <label for="">Mã Nhóm: </label>
                <select class="form-control" [(ngModel)]="ND_temp.MaNhom" ngModel name="MaNhom">
                  <option>GP01</option>
                  <option>GP02</option>
                  <option>GP03</option>
                  <option>GP04</option>
                  <option>GP05</option>
                  <option>GP06</option>
                  

                </select>
              </div>
              <div class="form-group">
                <label for="">TênLoại Người Dùng: </label>
                <select class="form-control" [(ngModel)]="ND_temp.TenLoaiNguoiDung" ngModel name="TenLoaiNguoiDung" id="sel1">
                  <option>Khách hàng</option>
                  <option>Quản trị</option>

                </select>
              </div>
              <div class="form-group mt-3">

                <button type="button" id="btn-modal" type="submit" class="h2 btn btn-success form-control mb-3"> Thêm</button>

                <button type="button" class="h2 btn btn-secondary form-control" data-dismiss="modal">Đóng</button>
              </div>

            </form>
          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>
    <div class="input-group w-50 mt-3">
      <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-user"></i>
    Dữ Liệu Người Dùng</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th>Tài Khoản</th>
            <th>Mật Khẩu</th>
            <th>Họ Tên</th>
            <th>SĐT</th>
            <th>Mã Nhóm</th>
            <th>Mã Loại Người Dùng</th>
            <th>Tên Loại Người Dùng</th>
            <th>Option</th>

          </tr>
        </thead>
        <!-- <tfoot>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
          </tr>
        </tfoot> -->
        <tbody>
          <tr *ngFor="let item of DS_ND">
            <td>
              <input type="checkbox">
            </td>
            <td>{{item.TaiKhoan}}</td>
            <td>{{item.MatKhau}}</td>
            <td>{{item.HoTen}}</td>
            <td>{{item.SoDT}}</td>
            <td>{{item.MaNhom}}</td>
            <td>{{item.MaLoaiNguoiDung}}</td>
            <td>{{item.TenLoaiNguoiDung}}</td>
            <td>
              <button class="btn btn-primary mr-3" 
              [attr.data-taikhoan]="item.TaiKhoan" 
              [attr.data-matkhau]="item.MatKhau"
              [attr.data-hoten]="item.HoTen"
              [attr.data-sodt]="item.SoDT"
              [attr.data-manhom]="item.MaNhom"
              
              [attr.data-maloaiND]="item.MaLoaiNguoiDung"
              [attr.data-tenloaiND]="item.TenLoaiNguoiDung"
              (click)="btnmodal.click()"              
              (click)="SuaND($event)"
              
              >Sửa</button>
              <button class="btn btn-danger"  (click)="XoaND($event)" [attr.data-sectionvalue]="item.TaiKhoan" [attr.data-matkhau]="item.MatKhau">Xóa</button>

            </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>